
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* import first */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu AU VIC WA NT Hand", cursive; /*Change here for font changes*/
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    box-sizing: border-box;
}

body{
    /* background-color: #313131; */
    /* background-color: #093145; */
    /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);

}

.mobile-view{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}



.card{
    padding: 20px;
    width: min(300px , 95vw);
    background-color: #964B00;
    border-radius: 10px;
    margin: 6px;
}

.search-box{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

#input-area{
    display: flex;
    outline: none;
    text-align: center;
    padding: 8px;
    color: rgb(117, 115, 115);
    width: 80%;
    display: flex;
    flex: 1;
    margin-right: 8px;
    font-size: 15px;
    font-weight: 600;
    color: #313131;
    border-radius: 34px;
    border: none;

    &::placeholder{
        color: #757575;
    }
}

.search-icon{
    display: flex;
    background-color: white;
    padding: 8px;
    color: black;
    border-radius: 50%;
}

.search-icon img{
    width: 25px; 
    height: 25px;
}

.weather-data{
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.weather-icon img{
    height: 90px;
    width: 90px;
    margin-bottom: 4px;
}
.weather-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 8px;
}

.temperature{
    font-size: 35px;
}

.city-name{
    font-size: 25px;
}

.other-info{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px 20px;
    flex-wrap: wrap;
}


.humidity, .wind{
    display: flex;
    align-items: last baseline;
    column-gap: 6px;
    flex-wrap: wrap;
}

.humidity img, .wind img{
    width: 30px;
    height: 30px;
    flex-wrap: wrap;
}

.humidity-details, .wind-details{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.humidity-details p, .wind-details p{
    display: flex;
}
